.select-style {
    width: 25%;
    margin-right: 20px;
}

.display-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    padding:20px;
   
}

.profile-body-padding {
    padding-top: 70px;
}

.float-right {
    float: right;
}


.card-task{
    border: 0;
    border-radius: 25.5px;
    box-shadow: 0 10px 30px 0 rgba(41, 40, 40, 0.43);
    padding:20px;
}

.card-profile {
    background: #fff;
    margin-bottom: 30px;
    transition: .5s;
    border:0;
    border-radius: 25.5px;
    display: inline-block;
    position: relative;
    width: 100%;
    box-shadow: none;
    padding-bottom: 20px;
}

